<settings>
    <category label="30000">
        <setting label="30011" type="lsep"/>
        <setting id="AutoOff" type="enum" label="30001" values="Disable|30|60|90|120|150|180|210|240" default="6"/>
        <setting id="InfoOnChange" type="bool" label="30003" default="true"/>
        <setting id="ForceChannelReset" type="enum" label="30002" values="Never|Once|Everytime" default="1"/>
        <setting id="autoChannelReset" type="bool" label="30900" default="false"/>
        <setting id="autoChannelResetSetting" type="enum" label="30901" visible="eq(-1,true)" values="Automatic|Each Day|Each Week|Each Month|Scheduled" default="0"/>
        <setting id="autoChannelResetInterval" type="enum" visible="eq(-2,true) + eq(-1,4)" label="30902" values="Daily|Weekly|Monthly" default="0"/>
        <setting id="autoChannelResetTime" type="enum" visible="eq(-3,true) + eq(-2,4)" label="30903" values="12:00am|1:00am|2:00am|3:00am|4:00am|5:00am|6:00am|7:00am|8:00am|9:00am|10:00am|11:00am|12:00pm|1:00pm|2:00pm|3:00pm|4:00pm|5:00pm|6:00pm|7:00pm|8:00pm|9:00pm|10:00pm|11:00pm" default="2"/>
      	<setting id="autoChannelResetShutdown" type="bool" visible="eq(-4,true) + eq(-3,4)" label="30923" default="false"/>
      	<setting id="ShowChannelBug" type="bool" label="30006" default="false"/>
      	<setting id="ChannelLogoFolder" type="folder" label="30010" default=""/>
        <setting id="autoChannelResetInterval" type="enum" visible="eq(-2,true) + eq(-1,4)" label="30902" values="Daily|Weekly|Monthly" default="0"/>
        <setting id="XBMC-Version" type="enum" label="30013" values="Dharma (version 10)|Pre-Eden (Nightlies)" default="0"/>
        <!--
        <setting id="StartMode" type="enum" label="30012" values="Resume|Real Time|Random" default="1" />      	<setting id="Version" default="2.0.0"/>
        -->
      	<setting id="Version" default="2.0.1"/>
    </category>
    <category label="30904">
    	  <setting label="30908" type="lsep"/>
    	  <setting type="action" label="30008" action="RunScript($CWD/resources/lib/ChannelConfig.py)"/>
        <setting type="sep"/>
    	  <setting label="30040" type="lsep"/>
      	<setting id="autoFindNetworks" type="bool" label="30041" default="false"/>
      	<setting id="autoFindStudios" type="bool" label="30042" default="false"/>
      	<setting id="autoFindTVGenres" type="bool" label="30043" default="false"/>
      	<setting id="autoFindMovieGenres" type="bool" label="30044" default="false"/>
      	<setting id="autoFindMixGenres" type="bool" label="30045" default="false"/>
      	<setting id="autoFindMusicGenres" type="bool" label="30046" default="false"/>
      	<setting id="autoFindLive" type="bool" label="30047" default="false"/>
        <setting type="sep"/>
    	  <setting label="30054" type="lsep"/>
        <setting id="limit" type="enum" label="30055" values="50|100|250" default="0"/>
    </category>
    <category label="30053">
    	  <setting label="30050" type="lsep"/>
      	<setting id="offair" type="bool" label="30051" default="false"/>
      	<setting id="offairfile" type="file" label="30052" visible="eq(-1,true)" default=""/>
    </category>
    <category label="30905">
        <setting label="30909" type="lsep"/>
        <setting type="sep"/>
        <setting label="30912" type="text" enable="true"/>
        <setting label="30913" id="bumpers" type="bool" default="false" />
        <setting label="30914" type="text" visible="eq(-1,true)" enable="true"/>
        <setting label="30915" id="bumpersfolder" type="folder" visible="eq(-2,true)" default="" />
        <setting label="30916" type="text" visible="eq(-3,true) + !eq(-1,)" enable="true"/>
        <setting label="30917" id="numbumpers" type="enum" visible="eq(-4,true) + !eq(-2,)" values="Auto|1|2|3|4|5" default="0"/>
        <setting label="30918" type="text" visible="eq(-5,true) + !eq(-3,) + eq(-1,0)" enable="true"/>
        <setting label="30919" id="maxbumpers" type="enum" visible="eq(-6,true) + !eq(-4,) + eq(-2,0)" values="1|2|3|4|5" default="0"/>
        <setting type="sep"/>
        <setting label="30920" type="text" visible="eq(-8,true)" enable="true"/>
        <setting label="30921" type="text" visible="eq(-9,true)" enable="true"/>
        <setting label="30922" type="text" visible="eq(-10,true)" enable="true"/>
    </category>
    <category label="30906">
        <setting label="30910" type="lsep"/>
        <setting type="sep"/>
        <setting label="30023" type="text" enable="true"/>
        <setting label="30024" id="commercials" type="bool" default="false" />
        <setting label="30025" type="text" visible="eq(-1,true)" enable="true"/>
        <setting label="30026" id="commercialsfolder" type="folder" visible="eq(-2,true)" default="" />
        <setting label="30027" type="text" visible="eq(-3,true) + !eq(-1,)" enable="true"/>
        <setting label="30028" id="numcommercials" type="enum" visible="eq(-4,true) + !eq(-2,)" values="Auto|1|2|3|4|5" default="0"/>
        <setting label="30029" type="text" visible="eq(-5,true) + !eq(-3,) + eq(-1,0)" enable="true"/>
        <setting label="30030" id="maxcommercials" type="enum" visible="eq(-6,true) + !eq(-4,) + eq(-2,0)" values="1|2|3|4|5" default="0"/>
    </category>
    <category label="30907">
        <setting label="30911" type="lsep"/>
        <setting type="sep"/>
        <setting label="30031" type="text" enable="true"/>
        <setting id="trailers" type="bool" label="30032" default="false" />
        <setting label="30033" type="text" visible="eq(-1,true)" enable="true"/>
        <setting id="trailersfolder" type="folder" visible="eq(-2,true)" label="30034" default="" />
        <setting label="30035" type="text" visible="eq(-3,true) + !eq(-1,)" enable="true"/>
        <setting id="numtrailers" type="enum" label="30036" visible="eq(-4,true) + !eq(-2,)" values="Auto|1|2|3|4|5" default="0"/>
        <setting label="30037" type="text" visible="eq(-5,true) + !eq(-3,) + eq(-1,0)" enable="true"/>
        <setting id="maxtrailers" type="enum" label="30038" visible="eq(-6,true) + !eq(-4,) + eq(-2,0)" values="1|2|3|4|5" default="0"/>
    </category>
</settings>

